html {
	font-family: "YuGothic","Yu Gothic","Hiragino Kaku Gothic ProN","Meiryo",sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-size:46px;
	font-family:'Roboto', sans-serif;
}
p{
	font-size:15px;
}
.anc-link-1{
	background:#344192;
	color:white;
	text-decoration:none;
	font-size:16px;
	padding:20px 56px;
	display:inline-block;
}
.anc-link-1.disabled{
	background:#c9cbd7;
}
.anc-link-2{
	background:#c2aa3e;
	color:white;
	text-decoration:none;
	font-size:16px;
	padding:20px 56px;
	display:inline-block;
}
.anc-link-3{
	background:white;
	color:#344192;
	border:2px solid #C0C5E5;
	text-decoration:none;
	font-size:16px;
	padding:18px 56px;
	display:inline-block;
}
.pill-1{
	background:#344192;
	color:white;
	font-size:12px;
	padding:5px 8px;
	font-weight:bold;
}
.pill-1.disabled{
	background:#c9cbd7;
}
.accent-1{
	background:#344192;
	height:4px;
}

.ablk-1{
	/*
	width:920px;
	margin:0 auto;
	*/
}
.ablk-1 > header{
	text-align:center;
	padding:40px 0;
}
.ablk-1 > header h2{
	font-size:46px;
	margin-bottom:10px;
}
.ablk-1 > header h6{
	font-size:16px;
	font-weight:bold;
	margin-bottom:10px;
}
.iblk-1-wrapper{
	background:#f7f7f7;
}
.iblk-1{
	/*
	width:920px;
	*/
	max-width:920px;
	width:100%;
	margin:0 auto;
}
.iblk-1 > p.note{
	text-align:center;
	padding:60px 0;
}
.iblk-1 > header{
	text-align:center;
	margin-bottom:50px;
}
.iblk-1 > header h3{
	font-size:30px;
	font-weight:bold;
	margin-bottom:34px;
}
.iblk-1 > header .accent-1{
	width:36px;
	margin:0 auto;
}
.iblk-1 .data-list{}
.iblk-1 .data-list .li-item{
	border-bottom:1px solid #d5d6dc;
	margin-bottom:20px;
	padding-bottom:20px;
}
.iblk-1 .data-list .li-item .col{
	/*
	float:left;
	*/
}
.iblk-1 .data-list .li-item p{
	font-size:14px;
}
.iblk-1 .data-list .li-item > .col-1{
	float:left;
	width:226px;
}
.iblk-1 .data-list .li-item > .col-1 p{
	font-weight:bold;
}
.iblk-1 .data-list .li-item > .col-2{
	/*
	width:694px;
	*/
	max-width:694px;
	width:100%;
	margin-left:226px;
}
.iblk-1 .data-list .li-item > .col-2 p{
	margin-bottom:5px;
	font-weight:bold;
}
.iblk-1 .data-list .li-item > .col-2 select{
	margin-bottom:10px;
	height:38px;
	padding:0 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border:none;
	background:white url('../images/glyph-arrow-down-blue-2.png') no-repeat right 0px;
}
.iblk-1 .data-list .li-item > .col-2 select option{}
.iblk-1 .data-list .li-item > .col-2 select:hover{
	cursor:pointer;
}
.iblk-1 .data-list .li-item > .col-2 select.small{
	width:30%;
	margin-right:16px;
}
.iblk-1 .data-list .li-item > .col-2 select.medium{
	width:62%;
}
.iblk-1 .data-list .li-item > .col-2 input[type="text"]{
	border:none;
}
.iblk-1 .data-list .li-item > .col-2 input[type="text"].medium{
	width:62%;
	height:30px;
}
.iblk-1 .data-list .li-item > .col-2 input[type="text"].large{
	width:96%;
	height:30px;
}

.iblk-1 .data-list .li-item > .col-2 input[type="radio"]{
	display: none;
}
.iblk-1 .data-list .li-item > .col-2 .label-radio{
	display: inline-block;
	position: relative;
	cursor: pointer;
	margin-left: 20px;
	padding: 10px 20px;
	border-radius: 2px;
	color: #3e4956;
	font-size: 14px;
	text-align: center;
	line-height: 1;
}
.iblk-1 .data-list .li-item > .col-2 .label-radio:before{
	position: absolute;
	content: "";
	top: 50%;
	left: -10px;
	width: 20px;
	height: 20px;
	margin-top: -10px;
	background: #ffffff;
	border-radius: 50%;
}
.iblk-1 .data-list .li-item > .col-2 input[type="radio"]:checked + label:after {
	position: absolute;
	content: "";
	top: 50%;
	left: -6px;
	width: 12px;
	height: 12px;
	margin-top: -6px;
	border-radius: 50%;
	background: #344192;
}



.iblk-1 .data-list .li-item > .col-2 textarea{
	border:none;
}
.iblk-1 .data-list .li-item > .col-2 textarea.large{
	width:96%;
	height:200px;
}
.iblk-1 .data-list .li-item > .col-2 .note{
	font-size:12px;
	font-weight:normal;
}
.iblk-1 .data-list .li-item > .col-2 .row{
	
	
}
.iblk-1 .data-list .li-item > .col-2 .row.last-item{
	
}
.iblk-1 .data-list .li-item > .col-2 .row .col{
	float:left;
}
.iblk-1 .data-list .li-item > .col-2 .row .col-1{
	width:80px
}

.iblk-1 .data-list .li-item > .col-2 .row .col-1 .pill-1{
	display:inline-block;
	padding:8px 10px;
}

.iblk-1 .data-list .li-item > .col-2 .row .col-2{
	width:614px;
	border-bottom:1px solid #d5d6dc;
	margin-bottom:20px;
	padding-bottom:20px;
}
.iblk-1 .data-list .li-item > .col-2 .row.last-item .col-2{
	border-bottom:0px;
	margin-bottom:0px;
	padding-bottom:0px;
}
.iblk-1 .controls{
	text-align:center;
}
.iblk-1 .controls .agree{
	margin-bottom:50px;
	font-weight:bold;
}


.iblk-1 .controls .anc-link-1{
	margin-right:15px;
	margin-bottom:20px;
}


/*helpers*/
.float-right{float:right;}
.float-left{float:left;}
.clear-both{clear: both;}
.font-baskerville{font-family: 'Libre Baskerville', serif;}
.glyph{display:inline-block; width:16px; height:16px;}
/*helpers*/





























