#site-header{}
.site-menu.site-header-menu.secondary-site-header-menu{
	background-color:#29326b;
}
.site-menu.site-header-menu.secondary-site-header-menu ul{
	max-width:556px;
	float:right;
}
.site-menu.site-header-menu.secondary-site-header-menu ul li{
	color:white;
	float:left;
	margin-right:1px;
}
.site-menu.site-header-menu.secondary-site-header-menu ul li.site-menu-item-last{
	margin-right:0px;
}
.site-menu.site-header-menu.secondary-site-header-menu ul li a{
	background-color:#344192;
	display:block;
	text-decoration:none;
	color:white;
	padding:10px 17px 10px 17px;
}
.site-menu.site-header-menu.secondary-site-header-menu ul li a:hover{
	background-color:#1b2c91;
}
.site-menu.site-header-menu.secondary-site-header-menu ul li.site-menu-item-last a{
	background-color:#bfaa4a;
}
.site-menu.site-header-menu.secondary-site-header-menu ul li.site-menu-item-last a:hover{
	background-color:#1b2c91;
}
.site-menu.site-header-menu.secondary-site-header-menu ul li .site-tel{
	display:block;
	padding:10px 17px 10px 17px;
	font-weight:bold;
}
.site-menu.site-header-menu.secondary-site-header-menu ul li .glyph.glyph-tel-white{
	background:url('../images/glyph-phone-white.png') no-repeat 0px 0px;
	width:12px;
	height:13px;
	background-size:12px 13px;
	margin-right:5px;
}
.site-menu.site-header-menu.secondary-site-header-menu ul li .glyph.glyph-consoltation-white{
	background:url('../images/glyph-consoltation-white.png') no-repeat 0px 0px;
	width:12px;
	height:13px;
	background-size:12px 13px;
	margin-right:5px;
}
.site-menu.site-header-menu.secondary-site-header-menu ul li .glyph.glyph-catalog-white{
	background:url('../images/glyph-catalog-white.png') no-repeat 0px 0px;
	width:12px;
	height:13px;
	background-size:12px 13px;
	margin-right:5px;
}
.site-menu.site-header-menu.secondary-site-header-menu ul li .glyph.glyph-apply-white{
	background:url('../images/glyph-apply-white.png') no-repeat 0px 0px;
	width:12px;
	height:13px;
	background-size:12px 13px;
	margin-right:5px;
}
.site-menu.site-header-menu.main-site-header-menu{
	background-color:white;
	border-bottom:1px solid #E1E3EF;
}
.site-menu.site-header-menu.main-site-header-menu.position-fixed{
	position:fixed;
	width:100%;
	top:0px;
	z-index:999;
}
.site-menu.site-header-menu.main-site-header-menu ul{
	max-width:1000px;
	margin:0 auto;
}
.site-menu.site-header-menu.main-site-header-menu ul li{
	float:left;
	width:138px;
	height:104px;
	text-align:center;
	border-right:1px solid #e1e3ef;
}
.site-menu.site-header-menu.main-site-header-menu ul li.site-menu-item-first{
	width:110px;
	position:relative;
}
.site-menu.site-header-menu.main-site-header-menu ul li.site-menu-item-last{
	width:53px;
	border-right:0px;
}
.site-menu.site-header-menu.main-site-header-menu ul li a{
	display:block;
	margin:0 auto;
	text-decoration:none;
	color:black;
	font-weight:bold;
	font-size:15px;
	padding-top:30px;
	padding-bottom:30px;
}
.site-menu.site-header-menu.main-site-header-menu ul li a:hover{}
.site-menu.site-header-menu.main-site-header-menu ul li a.social-link{
	padding-top:7px;
	padding-bottom:7px;
	color:#b4b6c1;
}
.site-menu.site-header-menu.main-site-header-menu ul li a.social-link.item-first{
	padding-top:14px;
}
.site-menu.site-header-menu.main-site-header-menu ul li a.social-link .glyph-facebook-gray{
	background:url('../images/glyph-facebook-gray.png') no-repeat 0px 0px;
	width:14px;
	height:14px;
	background-size:14px 14px;
	margin-right:5px;
}
.site-menu.site-header-menu.main-site-header-menu ul li a.social-link .glyph-twitter-gray{
	background:url('../images/glyph-twitter-gray.png') no-repeat 0px 0px;
	width:14px;
	height:14px;
	background-size:14px 14px;
	margin-right:5px;
}
.site-menu.site-header-menu.main-site-header-menu ul li a.social-link .glyph-instagram-gray{
	background:url('../images/glyph-instagram-gray.png') no-repeat 0px 0px;
	width:14px;
	height:14px;
	background-size:14px 14px;
	margin-right:5px;
}

.site-menu.site-header-menu.main-site-header-menu ul li.site-menu-item-first a.site-logo{
	width:70px;
	height:70px;
	background:url('../images/site-logo.gif') no-repeat 0px 0px;
	text-indent:-999999px;
	padding:0px;
	position:absolute;
	right:20px;
	top:15px;
	
}
.site-menu.site-header-menu.main-site-header-menu ul li a .sub-text{
	display:block;
	font-weight:normal;
	font-size:11px;
	margin-top:12px;
}

#site-main{}
.main-shoutout-wrapper{
	background:url('../images/bg-shoutout.jpg') no-repeat 0px 0px;
	background-size:100%;
	/* background-position:center; */
	max-width:1240px;
	height:599px;
	margin:0 auto;
}
.shoutout.main-shoutout{
	max-width:1000px;
	margin:0 auto;
}
.shoutout.main-shoutout .shoutout-branding{
	text-align:center;
	margin-bottom:24px;
}
.shoutout.main-shoutout .shoutout-branding header{
	padding-top:160px;	
	margin-bottom:10px;
}
.shoutout.main-shoutout .shoutout-branding header h4{
	color:#ffeb43;
	font-weight:bold;
	font-size:19px;
}
.shoutout.main-shoutout .shoutout-branding .banner{
	margin:0 auto;
	max-width:230px;
	text-align:center;
	background-color:#f7df3f;
}
.shoutout.main-shoutout .shoutout-branding .banner .banner-col1{
	float:left;
	padding:12px 0 12px 12px;
}
.shoutout.main-shoutout .shoutout-branding .banner p{
	
}
.shoutout.main-shoutout .shoutout-branding .banner .banner-col1 p{
	font-size:18px;
	font-weight:bold;
	color:#344192;
}
.shoutout.main-shoutout .shoutout-branding .banner .banner-col2{
	float:left;
	padding:12px 12px 12px 0;
}
.shoutout.main-shoutout .shoutout-branding .banner .banner-col2 p{
	font-family: 'Roboto', sans-serif;
	font-weight:500;
	font-size:46px;
	font-style: italic;
	line-height:36px;
	color:#344192;
}
.shoutout.main-shoutout .shoutout-contents{
	margin-bottom:118px;
}
.shoutout.main-shoutout .shoutout-contents header{
	margin-bottom:20px;
}
.shoutout.main-shoutout .shoutout-contents header h1{
	font-size:65px;
	font-weight:bold;
	color:white;
	text-align:center;
	border-bottom:5px solid white;
	max-width:600px;
	margin:0 auto;
	padding-bottom:12px;
}
.shoutout.main-shoutout .shoutout-contents p{
	font-size:30px;
	font-weight:bold;
	color:white;
	text-align:center;
	max-width:600px;
	margin:0 auto;
}
.shoutout.main-shoutout .scroll-down.shoutout-scroll-down{
	padding-bottom:40px;
}
.shoutout.main-shoutout .scroll-down.shoutout-scroll-down p{
	text-align:center;
	max-width:600px;
	margin:0 auto;
	
}
.shoutout.main-shoutout .scroll-down.shoutout-scroll-down p a{
	font-family: 'Roboto', sans-serif;
	font-weight:500;
	font-size:12px;
	color:white;
	text-decoration:none;
}
.shoutout.main-shoutout .scroll-down.shoutout-scroll-down p a .glyph.glyph-arrow-down-white{
	background:url('../images/glyph-arrow-down-white.png') no-repeat 0px 0px;
	width:28px;
	height:18px;
	background-size:28px 18px;
	margin-top:12px;
}

.featured-block.main-featured-block{
	max-width:1000px;
	margin:0 auto;
	margin-bottom:72px;
}
.featured-block.main-featured-block header{
	margin-bottom:54px;
}
.featured-block.main-featured-block header h2{
	text-align:center;
	font-weight:bold;
	font-size:30px;
	margin-top:70px;
	margin-bottom:40px;
}
.featured-block.main-featured-block header p{
	text-align:center;
	font-weight:bold;
	font-size:16px;
	line-height:30px;
}
.featured-block.main-featured-block .featured-feature{
	float:left;
	width:252px;
	padding-right:108px;
	background:url('../images/ant-line.png') repeat-x 2px 124px;
}
.featured-block.main-featured-block .featured-feature.item-last{
	padding-right:0px;
}
.featured-block.main-featured-block .featured-feature img{
	margin-bottom:20px;
}
.featured-block.main-featured-block .featured-feature header{
	margin-bottom:0px;
}
.featured-block.main-featured-block .featured-feature header h5{
	text-align:center;
	font-weight:bold;
	font-size:17px;
	margin-bottom:10px;
}
.featured-block.main-featured-block .featured-feature p{
	text-align:center;
	font-size:12px;
	margin-bottom:20px;
}
.featured-block.main-featured-block .featured-feature a{
	display:block;
	text-align:left;
	width:210px;
	margin:0 auto;
	background-color:#344192;
	border:none;
	color:white;
	font-size:13px;
	text-decoration:none;
	padding:14px 20px 14px 20px;
	line-height:20px;
}
.featured-block.main-featured-block .featured-feature a .glyph.glyph-arrow-right-white{
	background:url('../images/glyph-arrow-right-white.png') no-repeat 0px 2px;
	width:12px;
	height:14px;
	background-size:8px 12px;
	margin-right:33px;
}

.voice-of-graduates-wrapper{
	background:url('../images/bg-voice.jpg') no-repeat 0px 0px;
	background-size:100%;
	/* background-position:center; */
	max-width:1240px;
	height:450px;
	margin:0 auto;
}
.voice-of-graduates{
	max-width:1000px;
	margin:0 auto;
}
.voice-of-graduates header{
	padding-top:90px;
	margin-bottom:44px;
}
.voice-of-graduates header h2{
	font-family: 'Roboto', sans-serif;
	font-weight:500;
	font-size:38px;
	color:white;
	margin-left:62px;
}
.voice-of-graduates header h2 .font-baskerville{
	font-family: 'Libre Baskerville', serif;
	font-style:italic;
	font-size:50px;
	color:#858585;
}
.voice-of-graduates p{
	color:white;
	font-size:15px;
	margin-left:62px;
	line-height:30px;
	margin-bottom:44px;
}
.voice-of-graduates a{
	display:block;
	width:256px;
	font-size:15px;
	padding:14px;
	text-decoration:none;
	text-align:center;
	color:white;
	border:2px solid white;
	margin-left:119px;
}
.voice-of-graduates a .glyph.glyph-arrow-right-white{
	background:url('../images/glyph-arrow-right-white.png') no-repeat 0px 2px;
	width:12px;
	height:14px;
	background-size:8px 12px;
	margin-right:27px;
}

.updates-block-wrapper{
	background-color:#f7f7f7;
	position:relative;
}
.updates-block{
	max-width:1000px;
	margin:0 auto;
	background-color:white;
	position:relative;
	top:-50px;
}
.updates-block .news-block{}
.updates-block .news-block .news-information-block{
	border-bottom:1px solid #f7f7f7;
}
.updates-block .news-block .news-information-block .news-information-blocks{
	float:left;
}
.updates-block .news-block .news-information-block .news-information-block-1{
	width:242px;
	text-align:center;
}
.updates-block .news-block .news-information-block .news-information-block-1 h4{
	font-family: 'Roboto', sans-serif;
	font-weight:500;
	font-size:18px;
	padding-top:74px;
	margin-bottom:14px;
}
.updates-block .news-block .news-information-block .news-information-block-1 p{
	font-size:13px;
	margin-bottom:22px;
}
.updates-block .news-block .news-information-block .news-information-block-1 a{
	font-family: 'Roboto', sans-serif;
	font-weight:500;
	font-size:11px;
	text-decoration:none;
	color:white;
	background-color:#c9cbd7;
	display:block;
	width:116px;
	padding:10px;
	text-align:left;
	margin:0 auto;
}
.updates-block .news-block .news-information-block a .glyph.glyph-arrow-right-white{
	background:url('../images/glyph-arrow-right-white.png') no-repeat 0px 0px;
	width:5px;
	height:9px;
	background-size:5px 9px;
	margin-right:38px;
	margin-left:5px;
}
.updates-block .news-block .news-information-block .news-information-block-2{
	/*max-width:758px;*/
	max-width:713px;
	padding:20px 0px 25px;
}
.updates-block .news-block .news-information-block .news-information-block-2 .news-information-item{
	border-bottom:1px solid #f0f1f6;
	padding:24px 0px 24px;
}
.updates-block .news-block .news-information-block .news-information-block-2 .news-information-item article{}
.updates-block .news-block .news-information-block .news-information-block-2 .news-information-item.item-last{
	border-bottom:0px;
}
.updates-block .news-block .news-information-block .news-information-block-2 .news-information-item .news-information-item-article-detail{
	float:left;
	
}
.updates-block .news-block .news-information-block .news-information-block-2 .news-information-item .news-information-item-date{
	width:93px;
}
.updates-block .news-block .news-information-block .news-information-block-2 .news-information-item .news-information-item-date p{
	font-family: 'Roboto', sans-serif;
	font-weight:500;
	font-size:13px;
	padding-left:5px;
}
.updates-block .news-block .news-information-block .news-information-block-2 .news-information-item .news-information-item-headline{
	width:562px;
}
.updates-block .news-block .news-information-block .news-information-block-2 .news-information-item .news-information-item-headline p{
	font-size:14px;
	color:#344192;
}
.updates-block .news-block .news-information-block .news-information-block-2 .news-information-item .news-information-item-link{
	margin-top:-6px;
}
.updates-block .news-block .news-information-block .news-information-block-2 .news-information-item .news-information-item-link a{
	font-family: 'Roboto', sans-serif;
	font-weight:500;
	font-size:10px;
	text-decoration:none;
	color:white;
	padding:6px 0px;
	display:block;
	width:58px;
	text-align:center;
}
.updates-block .news-block .news-information-block .news-information-block-2 .news-information-item .news-information-item-link a.link-blog{
	background-color:#344192;
}
.updates-block .news-block .news-information-block .news-information-block-2 .news-information-item .news-information-item-link a.link-news{
	background-color:#349288;
}

.updates-block .news-block .news-media-block{}
.updates-block .news-block .news-media-block .news-media-blocks{
	float:left;
}
.updates-block .news-block .news-media-block .news-media-block-1{
	width:242px;
	text-align:center;
}
.updates-block .news-block .news-media-block .news-media-block-1 h4{
	font-family: 'Roboto', sans-serif;
	font-weight:500;
	font-size:18px;
	padding-top:74px;
	margin-bottom:14px;
}
.updates-block .news-block .news-media-block .news-media-block-1 p{
	font-size:13px;
	margin-bottom:22px;
}
.updates-block .news-block .news-media-block .news-media-block-1 a{
	font-family: 'Roboto', sans-serif;
	font-weight:500;
	font-size:11px;
	text-decoration:none;
	color:white;
	background-color:#c9cbd7;
	display:block;
	width:116px;
	padding:10px;
	text-align:left;
	margin:0 auto;
}
.updates-block .news-block .news-media-block .news-media-block-1 a .glyph.glyph-arrow-right-white{
	background:url('../images/glyph-arrow-right-white.png') no-repeat 0px 0px;
	width:5px;
	height:9px;
	background-size:5px 9px;
	margin-right:38px;
	margin-left:5px;
}
.updates-block .news-block .news-media-block .news-media-block-2{
	max-width:713px;
	padding:78px 0px 25px;
}
.updates-block .news-block .news-media-block .news-media-block-2 .news-media-item{
	float:left;
	width:356px;
	padding-bottom:24px;
}
.updates-block .news-block .news-media-block .news-media-block-2 .news-media-item article{}
.updates-block .news-block .news-media-block .news-media-block-2 .news-media-item article .news-media-item-article-blocks{
	float:left;
}
.updates-block .news-block .news-media-block .news-media-block-2 .news-media-item article .news-media-item-article-block-1{
	width:80px;
}
.updates-block .news-block .news-media-block .news-media-block-2 .news-media-item article .news-media-item-article-block-1 img{
	border:1px solid #f0f0f0;
}
.updates-block .news-block .news-media-block .news-media-block-2 .news-media-item article .news-media-item-article-block-2{
	/*width:276px;*/
	width:244px;
	margin-left:16px;
	margin-right:16px;
}
.updates-block .news-block .news-media-block .news-media-block-2 .news-media-item article .news-media-item-article-block-2 header{
	margin:10px 0px 10px;
}
.updates-block .news-block .news-media-block .news-media-block-2 .news-media-item article .news-media-item-article-block-2 header h6{
	font-family:"Roboto",sans-serif;
	font-weight:500;
	font-size:13px;
}
.updates-block .news-block .news-media-block .news-media-block-2 .news-media-item article .news-media-item-article-block-2 p a{
	font-size:14px;
	color:#344192;
	text-decoration:none;
}

.updates-block .campaign-block{
	background-color:#f7f7f7;
	padding-bottom:70px;
}
.updates-block .campaign-block header{
	padding-top:59px;
	margin-bottom:36px;
}
.updates-block .campaign-block header h3{
	font-family:"Roboto",sans-serif;
	font-weight:500;
	font-size:26px;
	text-align:center;
}
.updates-block .campaign-block article{
	background-color:white;
	border-bottom:1px solid #f7f7f7;
}
.updates-block .campaign-block article img{
	float:left;
	margin-right:25px;
}
.updates-block .campaign-block article h4{
	padding-top:25px;
	padding-bottom:12px;
}
.updates-block .campaign-block article h4 a{
	font-size:16px;
	color:#344192;
	text-decoration:none;
}
.updates-block .campaign-block article p{
	font-size:13px;
}

#site-footer{}
.wish-to-enroll-block{
	width:1000px;
	margin:0 auto;
	padding:40px 0px;
	border-bottom:1px solid #e9e9e9;
}
.wish-to-enroll-block .wish-to-enroll-blocks{
	float:left;
}
.wish-to-enroll-block .wish-to-enroll-block-1{
	width:596px;
}
.wish-to-enroll-block .wish-to-enroll-block-1 header{
	margin-bottom:24px;
}
.wish-to-enroll-block .wish-to-enroll-block-1 header h4{
	font-size:22px;
	font-weight:bold;
	color:#344192;
}
.wish-to-enroll-block .wish-to-enroll-block-1 header h4 .glyph.glyph-apply-blue{
	background:url('../images/glyph-apply-blue.png') no-repeat 0px 0px;
	width:26px;
	height:26px;
	background-size:26px 26px;
	margin-right:10px;
	margin-left:8px;
}
.wish-to-enroll-block .wish-to-enroll-block-1 p{
	font-size:15px;
	line-height:24px;
	padding-right:70px;
}
.wish-to-enroll-block .wish-to-enroll-block-2{
	width:404px;
}
.wish-to-enroll-block .wish-to-enroll-block-2 .wish-to-enroll-action{}
.wish-to-enroll-block .wish-to-enroll-block-2 .wish-to-enroll-action-col1{
	margin-bottom:10px;
}
.wish-to-enroll-block .wish-to-enroll-block-2 .wish-to-enroll-action-col1 a{
	text-decoration:none;
	background-color:#c2aa3e;
	color:white;
	width:400px;
	display:block;
	text-align:left;
	font-size:16px;
	padding:20px 0;
}
.wish-to-enroll-block .wish-to-enroll-block-2 .wish-to-enroll-action-col1 a .glyph.glyph-apply-white{
	background:url('../images/glyph-apply-white.png') no-repeat 0px 4px;
	width:20px;
	height:24px;
	background-size:20px 20px;
	margin-right:99px;
	margin-left:28px;
}
.wish-to-enroll-block .wish-to-enroll-block-2 .wish-to-enroll-action-col2{}
.wish-to-enroll-block .wish-to-enroll-block-2 .wish-to-enroll-action-col2 a{
	text-decoration:none;
	display:block;
	width:190px;
	float:left;
	color:#344192;
	border:2px solid #c0c5e5;
	margin-right:12px;
	text-align:left;
	padding:17px 0px;
}
.wish-to-enroll-block .wish-to-enroll-block-2 .wish-to-enroll-action-col2 a .glyph.glyph-arror-right-blue{
	background:url('../images/glyph-arrow-right-blue.png') no-repeat 0px 0px;
	width:8px;
	height:14px;
	background-size:8px 14px;
	margin-left:24px;
	margin-right:45px;
}
.wish-to-enroll-block .wish-to-enroll-block-2 .wish-to-enroll-action-col2 a.item-last{
	margin-right:0px;
}

.inquiry-block{
	width:1000px;
	margin:0 auto;
	padding:40px 0px;
}
.inquiry-block .inquiry-blocks{
	float:left;
}
.inquiry-block .inquiry-block-1{
	width:596px;
}
.inquiry-block .inquiry-block-1 header{
	margin-bottom:24px;
}
.inquiry-block .inquiry-block-1 header h4{
	font-size:22px;
	font-weight:bold;
	color:#344192;
}
.inquiry-block .inquiry-block-1 header h4 .glyph.glyph-contacts-blue{
	background:url('../images/glyph-contacts-blue.png') no-repeat 0px 0px;
	width:27px;
	height:21px;
	background-size:27px 21px;
	margin-right:10px;
	margin-left:8px;
}
.inquiry-block .inquiry-block-1 p{
	font-size:15px;
	line-height:24px;
	padding-right:70px;
}
.inquiry-block .inquiry-block-2{
	width:404px;
}
.inquiry-block .inquiry-block-2 .inquiry-block-action-col1{
	margin-bottom:10px;
}
.inquiry-block .inquiry-block-2 .inquiry-block-action-col1 p{
	font-family:'Roboto', sans-serif;
	font-weight:500;
	font-size:28px;
	color:#334192;
	text-align:center;
}
.inquiry-block .inquiry-block-2 .inquiry-block-action-col1 p .glyph.glyph-phone-blue{
	background:url('../images/glyph-phone-blue.png') no-repeat 0px 0px;
	width:23px;
	height:21px;
	background-size:23px 21px;
	margin-right:8px;
}
.inquiry-block .inquiry-block-2 .inquiry-block-action-col1 p .action-date{
	font-size:15px;
}
.inquiry-block .inquiry-block-2 .inquiry-block-action-col2{}
.inquiry-block .inquiry-block-2 .inquiry-block-action-col2 a{
	text-decoration:none;
	background-color:#344192;
	color:white;
	width:400px;
	display:block;
	text-align:left;
	font-size:16px;
	padding:20px 0px;
}
.inquiry-block .inquiry-block-2 .inquiry-block-action-col2 a .glyph.glyph-mail-white{
	background:url('../images/glyph-mail-white.png') no-repeat 0px 0px;
	width:18px;
	height:15px;
	background-size:18px 15px;
	margin-right:99px;
	margin-left:28px;
}

.site-footer-ads-block-wrapper{
	background-color:#f6f6f6;
}
.site-footer-ads-block{
	width:1000px;
	margin:0 auto;
	padding:20px 0;
}
.site-footer-ads-block img{
	margin-right:14px;
}
.site-footer-ads-block img.item-last{
	margin-right:0px;
}

.site-footer-carousel-block-wrapper{
	background-color:#e9e9e9;
}
.site-footer-carousel-block{
	width:1000px;
	margin:0 auto;
	padding-top:20px;
	padding-bottom:20px;
}
.site-footer-carousel-block .site-footer-carousel-block-slick{
	margin-bottom:0px;
}
.site-footer-carousel-block .site-footer-carousel-block-slick .slick-slide{
	width:255px;
}
.site-footer-carousel-block .site-footer-carousel-block-slick .slick-prev.slick-arrow{
	background:url('../images/glyph-arrow-left-gray.png') no-repeat 0px 0px;
	width:12px;
	height:20px;
	background-size:12px 20px;
	text-indent:-999999px
}
.site-footer-carousel-block .site-footer-carousel-block-slick .slick-next.slick-arrow{
	background:url('../images/glyph-arrow-right-gray.png') no-repeat 0px 0px;
	width:12px;
	height:20px;
	background-size:12px 20px;
	text-indent:-999999px
}

.site-footer-main-block-wrapper{
	background-color:#273484;
}
.site-footer-main-block{
	width:1000px;
	margin:0 auto;
	height:176px;
}
.site-footer-main-block p{
	font-size:11px;
	color:white;
	text-align:center;
}
.site-footer-main-block .site-footer-menu.social-site-footer-menu{
	width:158px;
	margin:0 auto;
	text-align:center;
	padding-top:33px;
	padding-bottom:31px;
	text-align:center;
}
.site-footer-main-block .site-footer-menu.social-site-footer-menu ul{}
.site-footer-main-block .site-footer-menu.social-site-footer-menu ul li{
	float:left;
	margin:0 10px;
}
.site-footer-main-block .site-footer-menu.social-site-footer-menu ul li a{
	color:#7d85b5;
	text-decoration:none;
}
.site-footer-main-block .site-footer-menu.social-site-footer-menu ul li a .glyph.glyph-facebook-circle-gray{
	background:url('../images/glyph-facebook-circle-gray.png') no-repeat 0px 0px;
	width:32px;
	height:32px;
	background-size:32px 32px;
}
.site-footer-main-block .site-footer-menu.social-site-footer-menu ul li a .glyph.glyph-twitter-circle-gray{
	background:url('../images/glyph-twitter-circle-gray.png') no-repeat 0px 0px;
	width:32px;
	height:32px;
	background-size:32px 32px;
}
.site-footer-main-block .site-footer-menu.social-site-footer-menu ul li a .glyph.glyph-instagram-circle-gray{
	background:url('../images/glyph-instagram-circle-gray.png') no-repeat 0px 0px;
	width:32px;
	height:32px;
	background-size:32px 32px;
}
.site-footer-main-block .site-footer-menu.main-site-footer-menu{
	width:292px;
	margin:0 auto;
	text-align:center;
	padding-bottom:19px;
}
.site-footer-main-block .site-footer-menu.main-site-footer-menu ul{}
.site-footer-main-block .site-footer-menu.main-site-footer-menu ul li{
	float:left;
	margin:0 15px 0 15px;
}
.site-footer-main-block .site-footer-menu.main-site-footer-menu ul li.item-last{}
.site-footer-main-block .site-footer-menu.main-site-footer-menu ul li a{
	color:white;
	text-decoration:none;
	font-size:11px;
}
.site-footer-main-block .site-footer-menu.main-site-footer-menu ul li a .glyph.glyph-arrow-right-white{
	background:url('../images/glyph-arrow-right-white.png') no-repeat 0px 0px;
	width:5px;
	height:8px;
	background-size:5px 8px;
	margin-right:7px;
}














