@media screen and (max-width:920px ){
	.iblk-1{
		/*
		margin:0 20px;
		*/
	}
	.iblk-1 .data-list .li-item > .col-1{
		float:none;
		width:100%;
		margin-bottom:20px;
	}
	.iblk-1 .data-list .li-item > .col-2{
		max-width:none;
		width:100%;
		margin-left:0px;
	}
	
	.iblk-1 .data-list .li-item > .col-2 .row .col-1{
		width:20%;
	}
	.iblk-1 .data-list .li-item > .col-2 .row .col-2{
		width:80%;
	}
	
}